<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset-UTF-8" />
</head>
<body>
  <h2>Autenticação de Usuários</h2>

<br>
<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    Usuário: <input type="text" ng-model="user"><br><br>
    Senha: <input type="password" ng-model="pass"><br><br>
    <button ng-click="doPost()">Log In</button>&nbsp;&nbsp;
    <button ng-click="doDelete()">Log out</button>&nbsp;&nbsp;<br>
  </form>
</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  // POST
  $scope.doPost = function() {
    $scope.clear(false);
    if (($scope.user == undefined || $scope.user.length == 0 || $scope.pass == undefined || $scope.pass.length == 0)) {
            $scope.clear(true);
            alert("Preencha os campos acima");
            return;
    }
     var data = {"user": $scope.user, "password": $scope.pass};
     console.log(data);
     $scope.result = data;
     var request = $http({
                 "method": "post",
                 "url": "/authentication",
                 "data": data});
     request.success(function(reply, status) {
        alert(reply.resultado);
        $scope.clear(true);
        }
      );
      request.error(function(reply, status) {
        alert(reply.resultado);
        $scope.clear(true);
       }
     );
   };

   // DELETE
   $scope.doDelete = function() {

      var data = {};
      var request = $http({
                  "method": "delete",
                  "url": "/authentication",
                  "data": data});
      request.success(function(reply, status) {
         alert(reply.resultado);
         $scope.clear(true);
         }
       );
       request.error(function(reply, status) {
         alert(reply.resultado);
         $scope.clear(true);
        }
      );
    };

  // CLEAR
  $scope.clear = function(clearAll) {
    if(clearAll){             // limpa todos os campos
      $scope.user = "";
      $scope.pass = "";
    }
  }

  }
);

</script>

</body>
</html>
