<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset-UTF-8" />
</head>
<body>

<h1>Meus Livros</h1>

<div ng-app="myApp" ng-controller="myCtrl">

<button ng-click="show()">Mostre meus livros!</button> &nbsp;
<br><br>
  <table cellspacing="8">
    <tr> <th>{{htitle}}</th>  <th>{{hauthor}}</th>  <th>{{harea}}</th> </tr>
    <tr ng-repeat="x in books">
      <td>{{ x.title }}</td>
      <td>{{ x.author }}</td>
      <td>{{ x.area }}</td>

    </tr>
  </table>

  
  <h1>Novos Exemplares</h1>
  
  Forneça o título de um livro para cadastrar um novo exemplar ou deletar um já existente: <br><br>
  <form>
    Título: <input type="text" ng-model="titlec"> 
    <button ng-click="insere()">INSERE</button> &nbsp;
    <button ng-click="remove()">DELETE</button> &nbsp;
    
  </form>
  <br><br>
  Tem um exemplar de um livro ainda não cadastrado? Então <a href="insertBooks.html">clique aqui</a> para inseri-lo no nosso banco de dados, antes de cadastrar seu exemplar.


</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

 $scope.show = function() {

    console.log("Aqui");
    var url = "/copies";
    
    url = "/copies/" + "Pablo"; // ATENÇÃO: SUBSTITUIR PELO USUARIO LOGADO

    var request = $http({
                 "method": "get",
                  "url": url});

    request.success(function(reply) {
      var booksIDs = [];

      if(reply.copies != null) {
        
       for(c in reply.copies[0]){
          booksIDs.push(reply.copies[0][c].bookID);
        
        }
        console.log(booksIDs);
 
       
        url = "/books";
        var data = {"booksIDs": booksIDs}
        request = $http({
               "method": "get",
                "url": url,
                "data": data});

        request.success(function(reply){
         
          if(reply.books != null){
            $scope.books = reply.books;
            console.log($scope.books);
          } 
          else {
            alert(reply.resultado);
          }
            
          }
        );

          $scope.htitle= "Título";
          $scope.hauthor = "Autor";
          $scope.harea = "Área";
        
      } else {
          $scope.clear();
          alert(reply.resultado);
      }
     }
    );

    request.error(function(reply) {
       alert("Falha na Requisicão!");
      }
    );
  };

  // INSERE
  $scope.insere = function() {
      
      if ($scope.titlec == undefined || $scope.titlec.length == 0 ){
            alert("Preencha o título corretamente.");
            return;
      }

      var data = {"title": $scope.titlec, "owner": "Pablo"}; // ATENÇÃO: SUBSTITUIR PELO USUARIO LOGADO
      
      console.log(data);

      var request = $http({
                 "method": "post",
                 "url": "/copies",
                 "data": data});

      request.success(function(reply) {
        alert(reply.resultado);
        $scope.clear();
        }
      );
      request.error(function(reply) {
        alert("Falha na Requisição!");
      }
    );
  };


  // REMOVE
  $scope.remove = function() {
    var bookID;
     if ($scope.titlec == undefined || $scope.titlec.length == 0) {
         $scope.clear();
         alert("Preencha o título do exemplar.");
         return;
     } 
     else {
      var decision = confirm("Tem certeza disso?");
      if(!decision){
        alert("Operação cancelada.");
        $scope.clear();
        return;
      }
     }
     var request = $http({
                 "method": "get",
                 "url": "/books/" + $scope.titlec});
     request.success(function(reply) {
        if(reply.books != null) {
         bookID = reply.books[0].bookID;
         
         var url = "/copies/" + "Pablo" + "/" + bookID;       // substituir pelo nome do usuario logado 
                      
         request = $http({
                    "method": "delete",
                     "url": url}); 

         request.success(function(reply) {
            alert(reply.resultado);
           }
         );

         request.error(function(reply) {
            alert("Falha na Requisição!");
            return;
           }
         );
        } else {           
            $scope.clear();
            alert(reply.resultado);
            return;
          }
       }
     );
     request.error(function(reply) {
        alert("Falha na Requisição!");
        return;
       }
     );
     
     
     
   };

  
  // CLEAR
  $scope.clear = function() {
    $scope.titlec = " ";
  }  
}
);

</script> 

</body>
</html>
