<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset-UTF-8" />
</head>

<body>

    <h1>Minhas solicitações</h1>

    <div ng-app="myApp" ng-controller="myCtrl">

        <button ng-click="show()">Minhas solicitações!</button> &nbsp;
        <br><br>
        <table cellspacing="8">
            <tr>
                <th>{{hbooktitle}}</th>
                <th>{{huserreq}}</th>
                <th>{{huserresp}}</th>
            </tr>
            <tr ng-repeat="x in trades">
                <td>{{ x.titleBook }}</td>
                <td>{{ x.UserReq }}</td>
                <td>{{ x.UserResp }}</td>
                <td>
                    <button ng-click="rejectTrade($index)"><strong>Não quero este livro!</strong></button>
                      <p ng-show="showdenied[$index]"><strong>Troca Rejeitada</strong></p> 
                    <table cellspacing="8">
                        <tr>
                            <th>{{htitle}}</th>
                            <th>{{harea}}</th>
                            <th>{{hauthor}}</th>
                        </tr>
                        <tr ng-repeat="y in books">
                            <td>{{ y.title }}</td>
                            <td>{{ y.area }}</td>
                            <td>{{ y.author }}</td>
                            <td>
                              <button ng-click="acceptTrade($parent.$index, $index)"><strong>Quero trocar!</strong></button>
                              <p ng-show="showaccepted[$index]"><strong>Troca aceita</strong></p> 
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


<script>

var app = angular.module('myApp', ['ngCookies']);
app.controller('myCtrl', function($scope, $http, $cookies){
    $scope.showdenied = {};
    $scope.showaccepted = {};
    $scope.jsonTrades = {};
    $scope.jsonCopies = {};
    $scope.jsonBooks = {};
    var copiesIDs = [];
    $scope.books = {};

    $scope.show = function() {

        var cookiesUser = $cookies.get('EA975');
        console.log(cookiesUser);

        var url = "/trade";

        url = "/trade/" + cookiesUser; // ATENÇÃO: SUBSTITUIR PELO USUARIO LOGADO

        var requestTrade = $http({
            "method": "get",
            "url": url
        });

        console.log("Alo");
        requestTrade.success(function(reply) {
            var tradeIDs = [];

            if (reply.Trocas != null) {

                $scope.trades = reply.Trocas;
                $scope.jsonTrades = reply.Trocas;
                console.log($scope.trades);
                $scope.hbooktitle = "Título";
                $scope.huserreq = "UserReq";
                $scope.huserresp = "UserResp";


                var urlsecond = "/bookID";

                urlsecond = "/bookID/" + cookiesUser;

                var requestCopies = $http({
                    "method": "get",
                    "url": urlsecond
                });

                requestCopies.success(function(reply) {

                    if (reply.Copies != null) {

                        $scope.copies = reply.Copies;
                        $scope.jsonCopies = reply.Copies;
                        console.log($scope.copies);

                        for (i in $scope.copies) {
                          copiesIDs.push($scope.copies[i].bookID);
                        }

                        // índices invertidos a partir daqui
                        console.log(copiesIDs);
                        
                        url3 = "/books/bookID";
                        var data3 = "";
                        data3 = {
                            "bookID": copiesIDs
                        };

                        request = $http({
                            "method": "post",
                            "url": url3,
                            "data": data3
                        });

                        console.log(data3);

                        request.success(function(reply) {

                            if (reply.books != null) {
                                $scope.books = reply.books;
                                $scope.jsonBooks = reply.books;
                                console.log($scope.books);
                                $scope.htitle = "Título";
                                $scope.harea = "Área";
                                $scope.hauthor = "Autor";

                            } else {
                                alert(reply.resultado);
                            }

                        });                        

                    } else {
                        $scope.clear();
                        alert(reply.resultado);
                    }
                });

                requestCopies.error(function(reply) {
                    alert("Falha na Requisicão de Cópia!");
                });

            } else {
                $scope.clear();
                alert(reply.resultado);
            }
        });

    };

    $scope.rejectTrade = function(indexTrade) {
        $scope.showdenied[indexTrade] = true;
        console.log("feeling groovy");
        console.log($scope.jsonTrades);
        console.log($scope.jsonCopies);
        console.log($scope.jsonBooks);

        console.log($scope.jsonTrades[indexTrade]);

        var url = "/trade/id";

        url = "/trade/id/" + $scope.jsonTrades[indexTrade].idTrade;
        console.log(url);

        var requestTrade = $http({
            "method": "delete",
            "url": url
        });

        request.success(function(reply) {

          if (reply != null) {
              alert("Troca Rejeitada");
          } else {
              alert("Não foi possível realizar essa operação");
          }

      });
    }

    $scope.acceptTrade = function(indexTrade, indexCopies) {
    $scope.showaccepted[indexCopies] = true;

    console.log($scope.jsonTrades[indexTrade]);
    var url = "/copies/" + $scope.jsonTrades[indexTrade].UserReq + "/" + $scope.jsonTrades[indexTrade].bookID;
    console.log(url);

    var requestTrade = $http({
        "method": "delete",
        "url": url
    });

    request.success(function(reply) {

        if (reply != null) {
            url = "/copies/" + $scope.jsonCopies[indexCopies].owner + "/" + $scope.jsonCopies[indexCopies].bookID;
            console.log(url);

            var requestTrade = $http({
                "method": "delete",
                "url": url
            });

            request.success(function(reply) {

                if (reply != null) {
                    url = "/trade/id/" + $scope.jsonTrades[indexTrade].idTrade;
                    console.log(url);

                    var requestTrade = $http({
                        "method": "delete",
                        "url": url
                    });

                    request.success(function(reply) {

                        if (reply != null) {
                            alert("Troca Rejeitada");
                        } else {
                            alert("Não foi possível realizar essa operação");
                        }

                    });
                } else {
                    alert("Não foi possível realizar essa operação");
                }

            });
        } else {
            alert("Não foi possível realizar essa operação");
        }

    });
}

});



</script> 

</body>
</html>